html {
  scroll-behavior: smooth;
}

.brands svg {
  width: 150px;
}

.swiper {
  padding: 5px !important;
  gap: 10px !important;
}

.swiper-wrapper-custom {
  padding: 5px !important;
}

.swiper-button-prev {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  transform: translate(0, 0) !important;
  width: 10px !important;
  height: 10px !important;
  color: #000 !important;
}

.swiper-button-next {
  position: relative !important;
  right: 0 !important;
  left: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  transform: translate(0, 0) !important;
  width: 10px !important;
  height: 10px !important;
  color: #000 !important;
}

.buttons-swippers {
  width: 120px;
  height: 80px;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

@media (max-width: 640px) {
  .brands svg {
    width: 100px;
  }
}

@media (min-width: 768px) {
  .right.scrollCont,
  .filters,
  .cart-summary {
    position: sticky;
    top: 2rem; /* Adjust as needed for your header */
    align-self: flex-start; /* Prevents stretching in flex layouts */
    z-index: 10;
  }
}

@media (max-width: 480px) {
  .custom-480 {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .custom-border {
    border: #000;
    border-bottom: 1px solid black;
  }
}
