.brands svg {
  width: 150px;
}

.swiper-button-prev {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  transform: translate(0, 0) !important;
  width: 10px !important;
  height: 10px !important;
  color: #000 !important;
}

.swiper-button-next {
  position: relative !important;
  right: 0 !important;
  left: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  transform: translate(0, 0) !important;
  width: 10px !important;
  height: 10px !important;
  color: #000 !important;
}

.buttons-swippers {
  width: 120px;
  height: 80px;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

@media (max-width: 640px) {
  .brands svg {
    width: 100px;
  }
}
